torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
transformers==4.36.0
mediapipe==0.10.9
numpy==1.24.4
opencv-python==4.8.1.78
scikit-learn==1.3.2
scipy==1.11.4
pandas==2.1.4
tqdm==4.66.1
tensorboard==2.15.1
efficientnet-lite-pytorch==0.1.1
rouge-score==0.1.2
nltk==3.8.1
speechbrain==0.5.16
librosa==0.10.1
Pillow==10.1.0
pyyaml==6.0.1
